In [2]:
import pandas as pd
import numpy as np

In [4]:
iris=pd.read_csv("iris.csv")

In [5]:
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [6]:
y=iris[["SepalLengthCm"]]
x=iris[["PetalLengthCm"]]

In [20]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(x_test,y_test)

LinearRegression()

In [21]:
y_pred=lr.predict(x_test)

In [23]:
y_test.head()

     SepalLengthCm
14             5.8
19             5.1
54             6.5
108            6.7
128            6.4

In [24]:
y_pred[0:5]

array([[4.94212547],
       [5.0527852 ],
       [6.19626907],
       [6.63890799],
       [6.56513484]])

In [28]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test,y_pred)

0.12614023914487127