In [ ]:
import pandas as pd
Customer=pd.read_csv("Customer_Churn.csv")
Customer.head()

   customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
0  7590-VHVEG  Female              0  ...          29.85        29.85     No
1  5575-GNVDE    Male              0  ...          56.95       1889.5     No
2  3668-QPYBK    Male              0  ...          53.85       108.15    Yes
3  7795-CFOCW    Male              0  ...          42.30      1840.75     No
4  9237-HQITU  Female              0  ...          70.70       151.65    Yes

[5 rows x 21 columns]

In [ ]:
x=Customer[["tenure"]]
y=Customer[["Churn"]]

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)
from sklearn.linear_model import LogisticRegression
logmodel=LogisticRegression()
logmodel.fit(x_train,y_train)

In [ ]:
y_pred=logmodel.predict(x_test)

In [ ]:
y_test.head()

     Churn
3922    No
1623    No
2019   Yes
6845    No
480     No

In [ ]:
y_pred[0:5]

array(['No', 'No', 'No', 'Yes', 'No'], dtype=object)

In [ ]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,y_pred)
# here 1 is correct predected and other wrong last one actual no or predected no

array([[1484,   80],
       [ 441,  108]])

In [ ]:
(1484+108)/(441+80) #(1484+108) correct value

3.055662188099808